@use '@angular/material' as mat;

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
  @include mat.all-component-themes($customTheme);

  // override button styles
  .mdc-button, .mdc-raised-button, mdc-stroked-button, .mdc-flat-button {
    border-radius: 0.375rem;
  }
}

.container {
  margin-inline: auto;
  max-width: 96rem;
  //@apply mx-auto max-w-screen-2xl
}

.text-primary {
  color: #7D00FA;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
  padding: 0 !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: #F00;
  --mat-snack-bar-button-color: #FFF;
  --mdc-snackbar-supporting-text-color: #FFF;
}

.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: #0F0;
  --mat-snack-bar-button-color: #FFF;
  --mdc-snackbar-supporting-text-color: #FFF;
}
